n8n/parkio-daily.json
{
  "name": "Parkio Daily — 6 AM Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "1aaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
      "name": "Daily 6 AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "notesInFlow": true,
      "notes": "Triggers every morning at 6:00 AM Eastern. Workflow timezone is set to America/New_York in Settings."
    },
    {
      "parameters": {
        "url": "https://disneyparksblog.com/feed/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ParkioBot/1.0; +https://parkio.info)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml, application/xml, text/xml, */*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "timeout": 60000
        }
      },
      "id": "2bbbbbbb-bbbb-4bbb-bbbb-bbbbbbbbbbbb",
      "name": "Fetch Disney Parks Blog RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Pulls Disney Parks Blog RSS as raw text. URL is the new disneyparksblog.com host (the old disneyparks.disney.go.com URL 301s here and hangs without a UA). Browser-style User-Agent is required; the site silently drops requests with no UA instead of returning 403. Timeout 60s + 3 retries."
    },
    {
      "parameters": {
        "jsCode": "// Fetch additional Disney news sources in parallel.\n// Each source returns its raw RSS XML (truncated). Failures are isolated —\n// one slow blog can't take down the whole pipeline.\n\nconst SOURCES = [\n  { name: 'WDWNT',               url: 'https://wdwnt.com/feed/' },\n  { name: 'AllEars.Net',         url: 'https://allears.net/feed/' },\n  { name: 'Disney Food Blog',    url: 'https://www.disneyfoodblog.com/feed/' },\n  { name: 'Disney Tourist Blog', url: 'https://www.disneytouristblog.com/feed/' },\n  { name: 'Inside the Magic',    url: 'https://insidethemagic.net/feed/' }\n];\n\nconst HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (compatible; ParkioBot/1.0; +https://parkio.info)',\n  'Accept': 'application/rss+xml, application/xml, text/xml, */*'\n};\n\nconst fetched = await Promise.all(SOURCES.map(async (src) => {\n  try {\n    const body = await this.helpers.httpRequest({\n      method: 'GET',\n      url: src.url,\n      headers: HEADERS,\n      timeout: 30000,\n      json: false,\n      followRedirect: true\n    });\n    const xml = String(body || '');\n    return { name: src.name, ok: true, bytes: xml.length, xml: xml.slice(0, 8000) };\n  } catch (err) {\n    return { name: src.name, ok: false, err: String(err).slice(0, 200) };\n  }\n}));\n\nreturn [{ json: { sources: fetched } }];\n"
      },
      "id": "ktttttttt-tttt-4ttt-tttt-tttttttttttt",
      "name": "Fetch additional Disney sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        530,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "notes": "Fetches 5 additional Disney news RSS feeds in parallel (WDWNT, AllEars, Disney Food Blog, Disney Tourist Blog, Inside the Magic). Failures per source are isolated — one slow blog can't break the run. Each source's raw RSS is truncated to 8KB before passing to Claude."
    },
    {
      "parameters": {
        "url": "https://api.themeparks.wiki/v1/destinations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ParkioBot/1.0; +https://parkio.info)"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "3ccccccc-cccc-4ccc-cccc-cccccccccccc",
      "name": "Fetch themeparks.wiki destinations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Park-status secondary source for current closures/refurbs. UA + 60s timeout + retry as defence-in-depth."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "disney parks OR disneyland OR \"walt disney world\" OR \"magic kingdom\" OR epcot OR \"hollywood studios\" OR \"animal kingdom\""
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 48*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "relevanceLanguage",
              "value": "en"
            },
            {
              "name": "regionCode",
              "value": "US"
            },
            {
              "name": "safeSearch",
              "value": "moderate"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "9iiiiiii-iiii-4iii-iiii-iiiiiiiiiiii",
      "name": "YouTube — Search broad (48h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "notes": "YouTube Data API v3 — broad Disney/parks search across the last 48h. Requires a Generic Query Auth credential named 'YouTube API Key' with name=key, value=<your YouTube API key>."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "channelId",
              "value": "UCscn2aSpMrS2U_mf7OF-UwQ"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fooooooo-oooo-4ooo-oooo-oooooooooooo",
      "name": "YouTube — Featured: PagingMrMorrow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "notes": "Featured creator @PagingMrMorrow (channelId UCscn2aSpMrS2U_mf7OF-UwQ). Pulls the 5 most recent uploads from the last 7 days. Most recent ALWAYS gets a slot in the daily Top 10."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "channelId",
              "value": "UCCE7kTsZ1icykc8hazTRNjg"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "gpppppppp-pppp-4ppp-pppp-pppppppppppp",
      "name": "YouTube — Featured: Wright Down Main Street",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "notes": "Featured creator @wrightdownmainstreet (channelId UCCE7kTsZ1icykc8hazTRNjg). Pulls the 5 most recent uploads from the last 7 days. Most recent ALWAYS gets a slot in the daily Top 10."
    },
    {
      "parameters": {
        "jsCode": "// Merge video IDs from the broad 48h search + 2 featured-channel searches.\n// HARD CAP: 50 total IDs (YouTube videos.list per-request limit).\n// Featured-channel videos take priority — included first, then broad fillers.\n\nconst broad   = $('YouTube — Search broad (48h)').first()?.json?.items || [];\nconst morrow  = $('YouTube — Featured: PagingMrMorrow').first()?.json?.items || [];\nconst wright  = $('YouTube — Featured: Wright Down Main Street').first()?.json?.items || [];\n\nconst tagged = [];\nfor (const v of broad) {\n  if (v?.id?.videoId) tagged.push({ id: v.id.videoId, source: 'broad' });\n}\nfor (const v of morrow) {\n  if (v?.id?.videoId) tagged.push({\n    id: v.id.videoId, source: 'featured',\n    channelHandle: 'PagingMrMorrow'\n  });\n}\nfor (const v of wright) {\n  if (v?.id?.videoId) tagged.push({\n    id: v.id.videoId, source: 'featured',\n    channelHandle: 'wrightdownmainstreet'\n  });\n}\n\n// Dedupe by ID — prefer the 'featured' tag if a video appears in both sets.\nconst map = new Map();\nfor (const t of tagged) {\n  const existing = map.get(t.id);\n  if (!existing || existing.source !== 'featured') map.set(t.id, t);\n}\n\n// Split by source for priority ordering, then cap at 50.\nconst all = [...map.values()];\nconst featured = all.filter(t => t.source === 'featured');\nconst broadOnly = all.filter(t => t.source === 'broad');\nconst capped = [...featured, ...broadOnly].slice(0, 50);\n\nconst ids = capped.map(t => t.id);\nconst featuredMeta = {};\nfor (const t of capped) {\n  if (t.source === 'featured') featuredMeta[t.id] = { channelHandle: t.channelHandle };\n}\n\nreturn [{\n  json: {\n    ids: ids.join(','),\n    featuredMeta,\n    counts: {\n      broad: broad.length,\n      morrow: morrow.length,\n      wright: wright.length,\n      uniqueBeforeCap: all.length,\n      sentToYouTube: ids.length\n    }\n  }\n}];\n"
      },
      "id": "hqqqqqqq-qqqq-4qqq-qqqq-qqqqqqqqqqqq",
      "name": "Merge YouTube IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "notes": "Combines IDs from the broad search + 2 featured-channel searches. Tags featured-channel videos so the rank node can guarantee inclusion. Output: { ids: 'id1,id2,...', featuredMeta: { videoId: { channelHandle } } }."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.ids }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ajjjjjjj-jjjj-4jjj-jjjj-jjjjjjjjjjjj",
      "name": "YouTube — Get video stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "notes": "Fetches snippet + statistics for the merged ID list (broad + featured). Reuses the same 'YouTube API Key' credential."
    },
    {
      "parameters": {
        "jsCode": "// Rank into the daily Top 10 with two guardrails:\n//   1. The most-recent recent upload from each featured channel ALWAYS appears\n//      (PagingMrMorrow + wrightdownmainstreet — last 7 days).\n//   2. Remaining slots fill by view count from the broad 48h search.\n//   3. Final list is sorted by view count for display.\n\nconst items = $input.first().json.items || [];\nconst featuredMeta = $('Merge YouTube IDs').first().json.featuredMeta || {};\n\nconst all = items\n  .filter(v => v && v.id && v.statistics && v.statistics.viewCount)\n  .map(v => {\n    const thumbs = v.snippet?.thumbnails || {};\n    const thumb = thumbs.medium || thumbs.high || thumbs.default || {};\n    const fm = featuredMeta[v.id];\n    return {\n      videoId: v.id,\n      title: v.snippet?.title || '',\n      channel: v.snippet?.channelTitle || '',\n      channelId: v.snippet?.channelId || '',\n      publishedAt: v.snippet?.publishedAt || '',\n      thumbnailUrl: thumb.url || '',\n      viewCount: parseInt(v.statistics.viewCount, 10) || 0,\n      url: `https://www.youtube.com/watch?v=${v.id}`,\n      featuredHandle: fm?.channelHandle || null\n    };\n  })\n  .filter(v => v.title && v.channel);\n\n// Reserve one slot per featured channel — pick the most-recent upload.\nconst FEATURED_HANDLES = ['PagingMrMorrow', 'wrightdownmainstreet'];\nconst featuredPicks = [];\nfor (const handle of FEATURED_HANDLES) {\n  const fromChannel = all\n    .filter(v => v.featuredHandle === handle)\n    .sort((a, b) => (a.publishedAt < b.publishedAt ? 1 : -1));\n  if (fromChannel.length > 0) featuredPicks.push(fromChannel[0]);\n}\n\n// Fill remaining slots with broad results, by view count.\nconst featuredIds = new Set(featuredPicks.map(v => v.videoId));\nconst fillers = all\n  .filter(v => !featuredIds.has(v.videoId))\n  .sort((a, b) => b.viewCount - a.viewCount);\n\nconst slotsLeft = Math.max(0, 10 - featuredPicks.length);\nconst combined = [...featuredPicks, ...fillers.slice(0, slotsLeft)];\n\n// Display order: by view count desc.\ncombined.sort((a, b) => b.viewCount - a.viewCount);\n\n// Strip the featuredHandle helper field — keep the schema clean for Claude.\nconst ranked = combined.slice(0, 10).map(({ featuredHandle, channelId, ...keep }) => keep);\n\nreturn [{ json: { videos: ranked } }];\n"
      },
      "id": "bkkkkkkk-kkkk-4kkk-kkkk-kkkkkkkkkkkk",
      "name": "Rank Top 10 by views",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ],
      "notes": "Featured-channel videos always get a reserved slot (most recent upload from each). Remaining slots filled by view count from the broad search. Final display order is by view count."
    },
    {
      "parameters": {
        "jsCode": "// Bundle research inputs (multi-source) into a single context blob and\n// build the entire Anthropic request body here. The HTTP node downstream\n// just forwards $json.claudeBody.\n\nconst rss = $('Fetch Disney Parks Blog RSS').first()?.json?.data\n         ?? $('Fetch Disney Parks Blog RSS').first()?.json\n         ?? '';\nconst additional = $('Fetch additional Disney sources').first()?.json?.sources ?? [];\nconst parks = $('Fetch themeparks.wiki destinations').first()?.json ?? {};\nconst videos = $('Rank Top 10 by views').first()?.json?.videos ?? [];\n\n// Today's date in Eastern Time (YYYY-MM-DD) — slug + display\nconst now = new Date();\nconst etDate = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/New_York',\n  year: 'numeric', month: '2-digit', day: '2-digit'\n}).format(now);\n\nconst slug = `parkio-daily-${etDate}`;\nconst niceDate = new Date(etDate + 'T00:00:00Z').toLocaleDateString('en-US', {\n  timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric'\n});\n\nconst rssText    = typeof rss === 'string' ? rss.slice(0, 25000) : JSON.stringify(rss).slice(0, 25000);\nconst parksJson  = JSON.stringify(parks).slice(0, 4000);\nconst videosJson = JSON.stringify(videos);\n\n// Stitch the additional Disney sources together so Claude sees them as\n// distinct, named feeds. Failed fetches just get noted so Claude knows\n// not to expect them rather than silently missing data.\nconst additionalText = additional.map(s => {\n  if (!s.ok) return `=== ${s.name} ===\\n[unavailable: ${s.err || 'unknown error'}]`;\n  return `=== ${s.name} ===\\n${s.xml}`;\n}).join('\\n\\n---\\n\\n');\n\n// Build the prompt as a JS template literal. JS handles escaping\n// so the resulting string is safe to embed inside JSON.stringify().\nconst prompt = `You are writing the Parkio Daily briefing for ${etDate}.\n\nParkio Daily is a fast, trusted morning briefing for Disney park guests. It is NOT a blog. It feels like a quick read that helps a guest plan their park day. Every word is yours — no copy/paste from sources, no paraphrased blog posts.\n\nOutput ONE JSON object — no commentary, no markdown fences — that conforms exactly to the schema below.\n\nGUARDRAILS — read carefully, follow strictly:\n1. ORIGINAL LANGUAGE ONLY. Do NOT copy any phrasing from the source feeds. Do NOT paraphrase entire articles. Each story must be summarized in 1–2 sentences using ENTIRELY ORIGINAL language. The Parkio voice is fast, plain, direct. If you find yourself echoing source phrasing, rewrite.\n2. COMBINE DUPLICATES. If multiple sources cover the same story (e.g., WDWNT, AllEars, and Inside the Magic all covering one announcement), merge into ONE summary item. Never list the same story twice.\n3. NO INVENTION. Every factual claim — names, dates, closures, openings, prices — MUST be supported by AT LEAST ONE source feed below or by themeparks.wiki status. If you cannot ground a claim, drop the item. Do not speculate.\n4. NO-NEWS FALLBACK. If overall source data is weak (no real news today), respond with a single bignews item titled \"No major updates today\" and a short body noting the parks are operating normally. Set sections.breaking and sections.icymi to [].\n5. PREFER FEWER, HIGHER-QUALITY STORIES. It is better to ship 4 strong items than 10 weak ones. If you can only ground 3 stories, ship 3 — do not pad with speculation or filler. Quality over volume.\n6. TOPIC DIVERSITY — strict. Each item across ALL sections (breaking + bignews + topstories + icymi + spotlight) must cover a DISTINCT story. Aim for breadth — different parks, different categories (attractions, food, merchandise, entertainment, transportation, characters, news), different angles. A reader should never feel like they're reading the same story rephrased twice.\n7. PARKIO INSIGHT — REQUIRED for every item in breaking, bignews, topstories, and spotlight. This is the Parkio differentiator. The field is an OBJECT with two keys:\n   {\n     \"category\": one of EXACTLY: \"crowd-impact\" | \"timing-advantage\" | \"opportunity\" | \"avoid-risk\",\n     \"text\": 1–2 sentences, clear and actionable, guest-focused\n   }\n   Categories — pick the SINGLE best fit:\n     • \"crowd-impact\"     — heavier waits, traffic, congestion likely from this story\n     • \"timing-advantage\" — a window where the guest gets a clear edge (early entry, off-peak, etc.)\n     • \"opportunity\"      — something new to seek out (food, merch, character meet)\n     • \"avoid-risk\"       — a reason to skip, reroute, or expect disappointment\n   SOFT LANGUAGE — never absolute. Use probabilistic phrasing: \"likely\", \"usually\", \"tends to\", \"may\", \"often\". Do NOT promise outcomes (\"will\", \"guaranteed\", \"definitely\"). Crowd patterns vary hour-to-hour; the insight is guidance, not a forecast.\n   Tell the guest what to DO next (\"Ride X early\", \"Skip Tomorrowland after lunch\", \"Grab the new merch before noon\") — do NOT just restate the story.\n   Examples (good):\n     - { \"category\": \"crowd-impact\",     \"text\": \"Tomorrowland tends to fill up by 11am with the new attraction open. Riding TRON or Space Mountain in the first hour usually keeps waits under 20 minutes.\" }\n     - { \"category\": \"timing-advantage\", \"text\": \"EPCOT's festival crowds usually thin during the dinner hour. Walk-on windows for Soarin' often open between 6–7pm.\" }\n     - { \"category\": \"opportunity\",      \"text\": \"The new Toy Story merchandise is likely to sell out fast at flagship locations. Worth a stop at Once Upon a Toy in Disney Springs early today.\" }\n     - { \"category\": \"avoid-risk\",       \"text\": \"Hollywood Studios construction noise tends to be loudest mid-morning near Sunset Boulevard. Plan dining or relaxation breaks elsewhere until after 1pm.\" }\n   Examples (BAD — do not write):\n     - \"Expect crowds.\" (too short, generic)\n     - \"TRON wait times will hit 90 minutes today.\" (absolute prediction)\n     - \"This is exciting news.\" (not actionable)\n     - \"Wait times are increasing.\" (just restates the story)\n   Do NOT include parkioInsight on icymi items (those are recap-only).\n8. TONE. Fast. Clear. Actionable. Sounds like a daily briefing a smart friend would text you, not a press release. Short sentences. No clickbait. No emojis. No exclamation points.\n9. VIDEO SUMMARIES are 1–2 sentences and based ONLY on the video's title + channel. Do not invent details about what's inside the video.\n10. EXACT VIDEOS. Use the EXACT 10 videos provided in TOP 10 YOUTUBE VIDEOS — copy each field verbatim and ADD a \"summary\" field per video.\n11. NO BREAKING-NEWS UNLESS SOURCED. Every breaking-news item must be supported by the source data. If nothing is genuinely breaking, set sections.breaking to [].\n\nSCHEMA (produce this object):\n{\n  \"title\": string,\n  \"slug\": string (must equal \"${slug}\"),\n  \"date\": string (must equal \"${etDate}\"),\n  \"teaser\": string (1–2 sentences, ≤160 chars; SEO + email teaser; no source phrasing),\n  \"rightNow\": {\n    \"headline\": \"Best rides right now\",\n    \"rides\": [ { \"name\": string, \"parkSlug\": string, \"note\": string } ]   // 2–3 items\n  },\n  \"sections\": {\n    \"breaking\":   [ { \"title\", \"body\", \"parkSlug?\", \"source?\": { \"label\", \"url\" }, \"parkioInsight\": { \"category\", \"text\" } } ],   // 0–2\n    \"bignews\":    [ { ...same shape with parkioInsight object } ],                                                                  // 1–3\n    \"topstories\": [ { ...same shape with parkioInsight object } ],                                                                  // 2–4\n    \"icymi\":      [ { \"title\", \"body\", \"parkSlug?\", \"source?\": { \"label\", \"url\" } } ],                                              // 1–3, NO parkioInsight\n    \"spotlight\":  [ { \"title\", \"body\", \"parkSlug?\", \"ctaLabel?\", \"parkioInsight\": { \"category\", \"text\" } } ]                        // exactly 1\n  },\n  \"videos\": [\n    { \"title\", \"channel\", \"url\", \"thumbnailUrl\", \"videoId\", \"viewCount\", \"publishedAt\", \"summary\" }\n  ]\n}\n\nparkSlug enum: magic-kingdom | epcot | hollywood-studios | animal-kingdom | disneyland | california-adventure.\n\nRESEARCH — Disney Parks Blog RSS (official):\n${rssText}\n\nRESEARCH — Additional Disney sources (community blogs, RSS feeds):\n${additionalText}\n\nRESEARCH — themeparks.wiki destinations summary (live park status):\n${parksJson}\n\nTOP 10 YOUTUBE VIDEOS (last 48h, ranked by views — copy verbatim into \"videos\", add a 1–2 sentence \"summary\" for each):\n${videosJson}\n\nReturn the JSON object only.`;\n\n// JSON.stringify handles ALL escaping (quotes, backslashes, newlines, control chars).\nconst claudeBody = JSON.stringify({\n  model: 'claude-sonnet-4-5',\n  max_tokens: 6000,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{\n  json: {\n    today: etDate,\n    slug,\n    title: `Parkio Daily — ${niceDate}`,\n    videos,        // pass-through for the validate step\n    claudeBody     // pre-stringified Anthropic request body\n  }\n}];\n"
      },
      "id": "4ddddddd-dddd-4ddd-dddd-dddddddddddd",
      "name": "Build research context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ],
      "notes": "Bundles RSS + themeparks.wiki + the top-10 video ranking into a single object the LLM can read. Computes today's slug + display date in Eastern Time."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "5eeeeeee-eeee-4eee-eeee-eeeeeeeeeeee",
      "name": "Compose with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "continueOnFail": true,
      "notes": "Calls Claude (claude-sonnet-4-5) with the research context. Retries 3x with 30s backoff to ride out transient 429/500/529s. continueOnFail+neverError pass any non-2xx response through to the validate node, which detects failure and substitutes a 'No major updates today' fallback briefing — the workflow never hard-stops here. 120s timeout gives long-context calls room. Guardrails on the prompt forbid invented breaking news."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's text output, validate the shape, attach metadata,\n// and produce the GitHub commit payload.\n//\n// FAILURE HANDLING — the upstream Compose with Claude node uses\n// retryOnFail (3x, 30s) + continueOnFail + neverError. So this node\n// always runs, even on a 4xx/5xx from Anthropic. We detect failure\n// here and substitute a minimal 'No major updates today' fallback\n// briefing instead of hard-stopping the run — the rest of the\n// pipeline (GitHub commit, Cloudflare rebuild, RSS) keeps moving so\n// the email service still has fresh content.\n//\n// Schema-violation throws are kept ONLY for the success path — if\n// Claude returns text but it's malformed, we'd rather skip the day\n// than ship junk. Transport failures cleanly fall through.\n\nconst resp = $input.first()?.json ?? {};\nconst ctx  = $('Build research context').first()?.json ?? {};\n\n// --- Detect Claude failure ---\n// Anthropic returns { type: 'error', error: { type, message } } on\n// API errors. neverError lets us see those payloads. We also catch\n// the case where the HTTP node's error wrapper landed in resp\n// (resp.error / resp.message / non-2xx statusCode), and the case\n// where text is empty.\nconst hadError = !!(\n  resp?.error ||\n  resp?.type === 'error' ||\n  (resp?.statusCode && resp.statusCode >= 400) ||\n  resp?.code === 'ERR_HTTP_REQUEST_FAILED'\n);\nconst rawText = resp?.content?.[0]?.text ?? '';\n\nfunction buildFallback(reason, detail) {\n  // Minimal valid DailyPost. Empty sections.{breaking,topstories,icymi,spotlight}\n  // and one bignews item satisfy the renderer + sitemap. Videos pass\n  // through from upstream so the rail still has content.\n  const today = ctx.today || new Date().toISOString().slice(0,10);\n  const slug  = ctx.slug  || `parkio-daily-${today}`;\n  const niceDate = new Date(today + 'T00:00:00Z').toLocaleDateString('en-US', {\n    timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric'\n  });\n  const videos = (ctx.videos ?? []).map(v => ({ ...v, summary: v.title || '' }));\n  return {\n    title: ctx.title || `Parkio Daily — ${niceDate}`,\n    slug,\n    date: today,\n    teaser: 'No major Disney parks updates today. Operations look normal — check Parkio for live wait times.',\n    rightNow: { headline: 'Best rides right now', rides: [] },\n    sections: {\n      breaking: [],\n      bignews: [{\n        title: 'No major updates today',\n        body: 'No major updates found today. Check live park data in Parkio.',\n        parkioInsight: {\n          category: 'opportunity',\n          text: 'Quiet news days often mean shorter standby waits at headliners. Check live waits in Parkio and pick a high-priority ride to start with.'\n        }\n      }],\n      topstories: [],\n      icymi: [],\n      spotlight: []\n    },\n    videos,\n    meta: {\n      aiGenerated: false,\n      fallbackReason: reason,\n      fallbackDetail: detail || null,\n      sources: ['fallback']\n    }\n  };\n}\n\nlet post;\nlet usedFallback = false;\nlet fallbackReason = null;\n\nif (hadError || !rawText) {\n  usedFallback = true;\n  fallbackReason = 'claude-failure';\n  const detail =\n    resp?.error?.message ||\n    resp?.error?.type ||\n    resp?.message ||\n    (resp?.statusCode ? `HTTP ${resp.statusCode}` : 'no-response');\n  post = buildFallback(fallbackReason, detail);\n} else {\n  // Strip any accidental markdown fence\n  const jsonStr = rawText\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/```\\s*$/, '')\n    .trim();\n  try {\n    post = JSON.parse(jsonStr);\n  } catch (e) {\n    // Claude returned non-JSON text — fall back rather than throw,\n    // so the morning still publishes something.\n    usedFallback = true;\n    fallbackReason = 'json-parse-failure';\n    post = buildFallback(fallbackReason, e.message);\n  }\n}\n\nif (!usedFallback) {\n  // --- Required top-level fields ---\n  const required = ['title', 'slug', 'date', 'teaser'];\n  for (const k of required) {\n    if (!post[k] || typeof post[k] !== 'string') {\n      throw new Error(`Missing required field: ${k}`);\n    }\n  }\n  if (!/^parkio-daily-\\d{4}-\\d{2}-\\d{2}$/.test(post.slug)) {\n    throw new Error(`Slug doesn't match parkio-daily-YYYY-MM-DD: ${post.slug}`);\n  }\n  if (post.teaser.length > 220) {\n    throw new Error(`Teaser too long (${post.teaser.length} chars)`);\n  }\n\n  // --- parkSlug enum check across all sections + rightNow ---\n  const VALID_PARKS = ['magic-kingdom','epcot','hollywood-studios','animal-kingdom','disneyland','california-adventure'];\n  for (const sec of Object.values(post.sections ?? {})) {\n    if (!Array.isArray(sec)) continue;\n    for (const item of sec) {\n      if (item.parkSlug && !VALID_PARKS.includes(item.parkSlug)) {\n        throw new Error(`Invalid parkSlug: ${item.parkSlug}`);\n      }\n    }\n  }\n  for (const ride of (post.rightNow?.rides ?? [])) {\n    if (ride.parkSlug && !VALID_PARKS.includes(ride.parkSlug)) {\n      throw new Error(`Invalid rightNow parkSlug: ${ride.parkSlug}`);\n    }\n  }\n\n  // --- Videos: must be 0..10 items, each with required fields ---\n  if (!Array.isArray(post.videos)) {\n    throw new Error('post.videos must be an array');\n  }\n  if (post.videos.length > 10) {\n    post.videos = post.videos.slice(0, 10);\n  }\n  for (const v of post.videos) {\n    for (const k of ['title', 'channel', 'url', 'summary']) {\n      if (!v[k] || typeof v[k] !== 'string') {\n        throw new Error(`Video missing field: ${k}`);\n      }\n    }\n    if (typeof v.viewCount !== 'undefined' && typeof v.viewCount !== 'number') {\n      v.viewCount = parseInt(v.viewCount, 10) || 0;\n    }\n  }\n}\n\n// --- Auto-attach internal metadata so the website renders the AI badge ---\npost.updatedAt = new Date().toISOString();\npost.type = 'daily-briefing';\npost.meta = Object.assign(\n  {\n    aiGenerated: !usedFallback,\n    sources: [\n      'Disney Parks Blog RSS',\n      'themeparks.wiki destinations',\n      'YouTube Data API v3 (top 10 last 48h)'\n    ],\n    generatedAt: new Date().toISOString()\n  },\n  post.meta || {}\n);\nif (usedFallback) post.meta.fallbackReason = fallbackReason;\n\n// Detect \"no real news today\" — Claude's own self-flagged no-news\n// (vs. transport-failure fallback handled above).\nif (!usedFallback) {\n  const breaking = post.sections?.breaking ?? [];\n  const big = post.sections?.bignews ?? [];\n  if (breaking.length === 0 && big.some(b => /no major updates/i.test(b.title))) {\n    post.meta.fallbackReason = 'no-news';\n  }\n}\n\nreturn [{\n  json: {\n    slug: post.slug,\n    post,\n    fileContent: JSON.stringify(post, null, 2)\n  }\n}];\n"
      },
      "id": "6fffffff-ffff-4fff-ffff-ffffffffffff",
      "name": "Validate + format JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ],
      "notes": "Parses the LLM output, validates the shape against lib/guideDaily.ts, attaches AI metadata, and produces the file payload for GitHub. Throws (stops the workflow) on any schema violation — skip a day rather than ship a broken post."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/tsomers13-ops/Parkio-Website/contents/content/guide/daily/{{ $json.slug }}.json?ref=main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "parkio-n8n"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "irrrrrrr-rrrr-4rrr-rrrr-rrrrrrrrrrrr",
      "name": "GitHub — Lookup existing SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2730,
        300
      ],
      "onError": "continueRegularOutput",
      "notes": "GETs existing file metadata so the SHA can be supplied when updating. 404 (file not yet on disk) is handled gracefully via Continue On Fail — that case is treated as a fresh create."
    },
    {
      "parameters": {
        "jsCode": "// Build the GitHub PUT-contents body from Validate output + Lookup result.\n// Buffer is available here (Code node, Node.js runtime); not in HTTP-node expressions.\n\nconst wrap = $('Validate + format JSON').first().json;\nconst lookup = $input.first().json;\n\nconst body = {\n  message: `Daily: ${wrap.post.date} briefing`,\n  content: Buffer.from(wrap.fileContent, 'utf8').toString('base64'),\n  branch: 'main'\n};\nif (lookup && lookup.sha) {\n  body.sha = lookup.sha;\n}\n\nreturn [{\n  json: {\n    putUrl: `https://api.github.com/repos/tsomers13-ops/Parkio-Website/contents/content/guide/daily/${wrap.slug}.json`,\n    putBody: body,\n    isUpdate: !!body.sha\n  }\n}];\n"
      },
      "id": "jsssssss-ssss-4sss-ssss-ssssssssssss",
      "name": "GitHub — Build commit body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        300
      ],
      "notes": "Constructs the GitHub PUT-contents body. Base64-encodes the file content here (Buffer is available in Code nodes; not in HTTP expressions). Includes sha when updating an existing file."
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.putUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "parkio-n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.putBody) }}",
        "options": {}
      },
      "id": "7ggggggg-gggg-4ggg-gggg-gggggggggggg",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3180,
        300
      ],
      "notes": "PUT to GitHub contents API. Body built upstream by 'GitHub — Build commit body'. Creates new file if no sha, updates existing if sha present (re-runs on the same day work cleanly)."
    },
    {
      "parameters": {
        "amount": 90,
        "unit": "seconds"
      },
      "id": "8hhhhhhh-hhhh-4hhh-hhhh-hhhhhhhhhhhh",
      "name": "Wait 90s for Cloudflare deploy",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3400,
        300
      ],
      "notes": "Wait for Cloudflare Pages to rebuild. The /feed.xml endpoint refreshes automatically when the new daily JSON is committed; downstream RSS-to-Email service (Buttondown) polls the feed and emails subscribers. This wait is the terminal step of the n8n pipeline."
    }
  ],
  "connections": {
    "Daily 6 AM ET": {
      "main": [
        [
          {
            "node": "Fetch Disney Parks Blog RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Disney Parks Blog RSS": {
      "main": [
        [
          {
            "node": "Fetch additional Disney sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch additional Disney sources": {
      "main": [
        [
          {
            "node": "Fetch themeparks.wiki destinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch themeparks.wiki destinations": {
      "main": [
        [
          {
            "node": "YouTube — Search broad (48h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Search broad (48h)": {
      "main": [
        [
          {
            "node": "YouTube — Featured: PagingMrMorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Featured: PagingMrMorrow": {
      "main": [
        [
          {
            "node": "YouTube — Featured: Wright Down Main Street",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Featured: Wright Down Main Street": {
      "main": [
        [
          {
            "node": "Merge YouTube IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge YouTube IDs": {
      "main": [
        [
          {
            "node": "YouTube — Get video stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Get video stats": {
      "main": [
        [
          {
            "node": "Rank Top 10 by views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Top 10 by views": {
      "main": [
        [
          {
            "node": "Build research context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build research context": {
      "main": [
        [
          {
            "node": "Compose with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose with Claude": {
      "main": [
        [
          {
            "node": "Validate + format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + format JSON": {
      "main": [
        [
          {
            "node": "GitHub — Lookup existing SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub — Lookup existing SHA": {
      "main": [
        [
          {
            "node": "GitHub — Build commit body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub — Build commit body": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to GitHub": {
      "main": [
        [
          {
            "node": "Wait 90s for Cloudflare deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "active": false,
  "tags": []
}