n8n/parkio-daily.json
{
  "name": "Parkio Daily — 6 AM Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "1aaaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaaaa",
      "name": "Daily 6 AM ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "notesInFlow": true,
      "notes": "Triggers every morning at 6:00 AM Eastern. Workflow timezone is set to America/New_York in Settings."
    },
    {
      "parameters": {
        "url": "https://disneyparksblog.com/feed/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ParkioBot/1.0; +https://parkio.info)"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml, application/xml, text/xml, */*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "timeout": 60000
        }
      },
      "id": "2bbbbbbb-bbbb-4bbb-bbbb-bbbbbbbbbbbb",
      "name": "Fetch Disney Parks Blog RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Pulls Disney Parks Blog RSS as raw text. URL is the new disneyparksblog.com host (the old disneyparks.disney.go.com URL 301s here and hangs without a UA). Browser-style User-Agent is required; the site silently drops requests with no UA instead of returning 403. Timeout 60s + 3 retries."
    },
    {
      "parameters": {
        "url": "https://api.themeparks.wiki/v1/destinations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; ParkioBot/1.0; +https://parkio.info)"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "3ccccccc-cccc-4ccc-cccc-cccccccccccc",
      "name": "Fetch themeparks.wiki destinations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Park-status secondary source for current closures/refurbs. UA + 60s timeout + retry as defence-in-depth."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "disney parks OR disneyland OR \"walt disney world\" OR \"magic kingdom\" OR epcot OR \"hollywood studios\" OR \"animal kingdom\""
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 48*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "50"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "relevanceLanguage",
              "value": "en"
            },
            {
              "name": "regionCode",
              "value": "US"
            },
            {
              "name": "safeSearch",
              "value": "moderate"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "9iiiiiii-iiii-4iii-iiii-iiiiiiiiiiii",
      "name": "YouTube — Search broad (48h)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "notes": "YouTube Data API v3 — broad Disney/parks search across the last 48h. Requires a Generic Query Auth credential named 'YouTube API Key' with name=key, value=<your YouTube API key>."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "channelId",
              "value": "UCscn2aSpMrS2U_mf7OF-UwQ"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fooooooo-oooo-4ooo-oooo-oooooooooooo",
      "name": "YouTube — Featured: PagingMrMorrow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "notes": "Featured creator @PagingMrMorrow (channelId UCscn2aSpMrS2U_mf7OF-UwQ). Pulls the 5 most recent uploads from the last 7 days. Most recent ALWAYS gets a slot in the daily Top 10."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "channelId",
              "value": "UCCE7kTsZ1icykc8hazTRNjg"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}"
            },
            {
              "name": "maxResults",
              "value": "5"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "videoEmbeddable",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "gpppppppp-pppp-4ppp-pppp-pppppppppppp",
      "name": "YouTube — Featured: Wright Down Main Street",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "notes": "Featured creator @wrightdownmainstreet (channelId UCCE7kTsZ1icykc8hazTRNjg). Pulls the 5 most recent uploads from the last 7 days. Most recent ALWAYS gets a slot in the daily Top 10."
    },
    {
      "parameters": {
        "jsCode": "// Merge video IDs from the broad 48h search + 2 featured-channel searches.\n// Output a comma-separated ID list for videos.list and a featured-meta map\n// the rank node can use to guarantee inclusion.\n\nconst broad   = $('YouTube — Search broad (48h)').first()?.json?.items || [];\nconst morrow  = $('YouTube — Featured: PagingMrMorrow').first()?.json?.items || [];\nconst wright  = $('YouTube — Featured: Wright Down Main Street').first()?.json?.items || [];\n\nconst tagged = [];\nfor (const v of broad) {\n  if (v?.id?.videoId) tagged.push({ id: v.id.videoId, source: 'broad' });\n}\nfor (const v of morrow) {\n  if (v?.id?.videoId) tagged.push({\n    id: v.id.videoId, source: 'featured',\n    channelHandle: 'PagingMrMorrow'\n  });\n}\nfor (const v of wright) {\n  if (v?.id?.videoId) tagged.push({\n    id: v.id.videoId, source: 'featured',\n    channelHandle: 'wrightdownmainstreet'\n  });\n}\n\n// Dedupe by ID — prefer the 'featured' tag if a video appears in both sets.\nconst map = new Map();\nfor (const t of tagged) {\n  const existing = map.get(t.id);\n  if (!existing || existing.source !== 'featured') map.set(t.id, t);\n}\n\nconst ids = [...map.keys()];\nconst featuredMeta = {};\nfor (const [id, t] of map) {\n  if (t.source === 'featured') featuredMeta[id] = { channelHandle: t.channelHandle };\n}\n\nreturn [{\n  json: {\n    ids: ids.join(','),\n    featuredMeta,\n    counts: {\n      broad: broad.length,\n      morrow: morrow.length,\n      wright: wright.length,\n      unique: ids.length\n    }\n  }\n}];\n"
      },
      "id": "hqqqqqqq-qqqq-4qqq-qqqq-qqqqqqqqqqqq",
      "name": "Merge YouTube IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ],
      "notes": "Combines IDs from the broad search + 2 featured-channel searches. Tags featured-channel videos so the rank node can guarantee inclusion. Output: { ids: 'id1,id2,...', featuredMeta: { videoId: { channelHandle } } }."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet,statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.ids }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ajjjjjjj-jjjj-4jjj-jjjj-jjjjjjjjjjjj",
      "name": "YouTube — Get video stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "notes": "Fetches snippet + statistics for the merged ID list (broad + featured). Reuses the same 'YouTube API Key' credential."
    },
    {
      "parameters": {
        "jsCode": "// Rank into the daily Top 10 with two guardrails:\n//   1. The most-recent recent upload from each featured channel ALWAYS appears\n//      (PagingMrMorrow + wrightdownmainstreet — last 7 days).\n//   2. Remaining slots fill by view count from the broad 48h search.\n//   3. Final list is sorted by view count for display.\n\nconst items = $input.first().json.items || [];\nconst featuredMeta = $('Merge YouTube IDs').first().json.featuredMeta || {};\n\nconst all = items\n  .filter(v => v && v.id && v.statistics && v.statistics.viewCount)\n  .map(v => {\n    const thumbs = v.snippet?.thumbnails || {};\n    const thumb = thumbs.medium || thumbs.high || thumbs.default || {};\n    const fm = featuredMeta[v.id];\n    return {\n      videoId: v.id,\n      title: v.snippet?.title || '',\n      channel: v.snippet?.channelTitle || '',\n      channelId: v.snippet?.channelId || '',\n      publishedAt: v.snippet?.publishedAt || '',\n      thumbnailUrl: thumb.url || '',\n      viewCount: parseInt(v.statistics.viewCount, 10) || 0,\n      url: `https://www.youtube.com/watch?v=${v.id}`,\n      featuredHandle: fm?.channelHandle || null\n    };\n  })\n  .filter(v => v.title && v.channel);\n\n// Reserve one slot per featured channel — pick the most-recent upload.\nconst FEATURED_HANDLES = ['PagingMrMorrow', 'wrightdownmainstreet'];\nconst featuredPicks = [];\nfor (const handle of FEATURED_HANDLES) {\n  const fromChannel = all\n    .filter(v => v.featuredHandle === handle)\n    .sort((a, b) => (a.publishedAt < b.publishedAt ? 1 : -1));\n  if (fromChannel.length > 0) featuredPicks.push(fromChannel[0]);\n}\n\n// Fill remaining slots with broad results, by view count.\nconst featuredIds = new Set(featuredPicks.map(v => v.videoId));\nconst fillers = all\n  .filter(v => !featuredIds.has(v.videoId))\n  .sort((a, b) => b.viewCount - a.viewCount);\n\nconst slotsLeft = Math.max(0, 10 - featuredPicks.length);\nconst combined = [...featuredPicks, ...fillers.slice(0, slotsLeft)];\n\n// Display order: by view count desc.\ncombined.sort((a, b) => b.viewCount - a.viewCount);\n\n// Strip the featuredHandle helper field — keep the schema clean for Claude.\nconst ranked = combined.slice(0, 10).map(({ featuredHandle, channelId, ...keep }) => keep);\n\nreturn [{ json: { videos: ranked } }];\n"
      },
      "id": "bkkkkkkk-kkkk-4kkk-kkkk-kkkkkkkkkkkk",
      "name": "Rank Top 10 by views",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ],
      "notes": "Featured-channel videos always get a reserved slot (most recent upload from each). Remaining slots filled by view count from the broad search. Final display order is by view count."
    },
    {
      "parameters": {
        "jsCode": "// Bundle research inputs into a single context blob for the LLM,\n// AND build the entire Anthropic request body here so the HTTP node\n// just forwards it. This sidesteps n8n's expression-interpolation\n// breaking the outer JSON when raw XML/quotes leak into the prompt.\n\nconst rss = $('Fetch Disney Parks Blog RSS').first()?.json?.data\n         ?? $('Fetch Disney Parks Blog RSS').first()?.json\n         ?? '';\nconst parks = $('Fetch themeparks.wiki destinations').first()?.json ?? {};\nconst videos = $('Rank Top 10 by views').first()?.json?.videos ?? [];\n\n// Today's date in Eastern Time (YYYY-MM-DD) — slug + display\nconst now = new Date();\nconst etDate = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/New_York',\n  year: 'numeric', month: '2-digit', day: '2-digit'\n}).format(now);\n\nconst slug = `parkio-daily-${etDate}`;\nconst niceDate = new Date(etDate + 'T00:00:00Z').toLocaleDateString('en-US', {\n  timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric'\n});\n\nconst rssText    = typeof rss === 'string' ? rss.slice(0, 30000) : JSON.stringify(rss).slice(0, 30000);\nconst parksJson  = JSON.stringify(parks).slice(0, 5000);\nconst videosJson = JSON.stringify(videos);\n\n// Build the prompt as a JS template literal. JS handles escaping\n// so the resulting string is safe to embed inside JSON.stringify().\nconst prompt = `You are writing the Parkio Daily briefing for ${etDate}.\n\nOutput ONE JSON object — no commentary, no markdown fences — that conforms exactly to the schema below.\n\nGUARDRAILS — read carefully, follow strictly:\n1. Do NOT invent breaking news. Every breaking-news item must be supported by the Disney Parks Blog RSS feed below or by a clearly newsworthy themeparks.wiki status (e.g. \"Test Track closed for refurbishment\"). If nothing newsworthy is in the source data, set \"sections.breaking\" to [].\n2. If overall source data is weak (no real news today), respond with a single bignews item titled \"No major updates today\" and a short body noting the parks are operating normally. Set sections.breaking and sections.icymi to [].\n3. Every factual claim — names, dates, closures, openings — MUST come from the provided source data. If you can't ground a claim, drop the item.\n4. Tone: helpful, fast, guest-focused. No clickbait. No emojis. Short sentences.\n5. Each video summary is 1–2 sentences and based ONLY on the video's title + channel. Do not invent details about what's inside the video.\n6. Use the EXACT 10 videos provided in TOP 10 YOUTUBE VIDEOS — copy each field verbatim and add a \"summary\" field.\n\nSCHEMA (produce this object):\n{\n  \"title\": string,\n  \"slug\": string (must equal \"${slug}\"),\n  \"date\": string (must equal \"${etDate}\"),\n  \"teaser\": string (1–2 sentences, ≤160 chars; SEO + email teaser),\n  \"rightNow\": {\n    \"headline\": \"Best rides right now\",\n    \"rides\": [ { \"name\": string, \"parkSlug\": string, \"note\": string } ]   // 2–3 items\n  },\n  \"sections\": {\n    \"breaking\":   [ { \"title\", \"body\", \"parkSlug?\", \"source?\": { \"label\", \"url\" } } ],   // 0–2\n    \"bignews\":    [ ... same shape ],                                                     // 1–3\n    \"topstories\": [ ... same shape ],                                                     // 2–4\n    \"icymi\":      [ ... same shape ],                                                     // 1–3\n    \"spotlight\":  [ { \"title\", \"body\", \"parkSlug?\", \"ctaLabel?\" } ]                       // exactly 1\n  },\n  \"videos\": [\n    { \"title\", \"channel\", \"url\", \"thumbnailUrl\", \"videoId\", \"viewCount\", \"publishedAt\", \"summary\" }\n  ]\n}\n\nparkSlug enum: magic-kingdom | epcot | hollywood-studios | animal-kingdom | disneyland | california-adventure.\n\nRESEARCH — Disney Parks Blog RSS:\n${rssText}\n\nRESEARCH — themeparks.wiki destinations summary:\n${parksJson}\n\nTOP 10 YOUTUBE VIDEOS (last 48h, ranked by views — copy verbatim into \"videos\", add a 1–2 sentence \"summary\" for each):\n${videosJson}\n\nReturn the JSON object only.`;\n\n// JSON.stringify handles ALL escaping (quotes, backslashes, newlines, control chars).\nconst claudeBody = JSON.stringify({\n  model: 'claude-sonnet-4-5',\n  max_tokens: 5000,\n  messages: [{ role: 'user', content: prompt }]\n});\n\nreturn [{\n  json: {\n    today: etDate,\n    slug,\n    title: `Parkio Daily — ${niceDate}`,\n    videos,        // pass-through for the validate step\n    claudeBody     // pre-stringified Anthropic request body\n  }\n}];\n"
      },
      "id": "4ddddddd-dddd-4ddd-dddd-dddddddddddd",
      "name": "Build research context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ],
      "notes": "Bundles RSS + themeparks.wiki + the top-10 video ranking into a single object the LLM can read. Computes today's slug + display date in Eastern Time."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}"
      },
      "id": "5eeeeeee-eeee-4eee-eeee-eeeeeeeeeeee",
      "name": "Compose with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ],
      "notes": "Calls Claude (claude-sonnet-4-5) with the research context. Hardcoded guardrails forbid invented breaking news; videos must be copied from the upstream ranking."
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's text output, validate the shape, attach metadata,\n// and produce the GitHub commit payload.\n// Throws on schema violation — better to skip a day than ship junk.\n\nconst resp = $input.first().json;\nconst text = resp?.content?.[0]?.text ?? '';\nif (!text) throw new Error('Claude returned no text content');\n\n// Strip any accidental markdown fence\nconst jsonStr = text\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/```\\s*$/, '')\n  .trim();\n\nlet post;\ntry {\n  post = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error('Claude output is not valid JSON: ' + e.message + '\\n---\\n' + jsonStr.slice(0, 500));\n}\n\n// --- Required top-level fields ---\nconst required = ['title', 'slug', 'date', 'teaser'];\nfor (const k of required) {\n  if (!post[k] || typeof post[k] !== 'string') {\n    throw new Error(`Missing required field: ${k}`);\n  }\n}\nif (!/^parkio-daily-\\d{4}-\\d{2}-\\d{2}$/.test(post.slug)) {\n  throw new Error(`Slug doesn't match parkio-daily-YYYY-MM-DD: ${post.slug}`);\n}\nif (post.teaser.length > 220) {\n  throw new Error(`Teaser too long (${post.teaser.length} chars)`);\n}\n\n// --- parkSlug enum check across all sections + rightNow ---\nconst VALID_PARKS = ['magic-kingdom','epcot','hollywood-studios','animal-kingdom','disneyland','california-adventure'];\nfor (const sec of Object.values(post.sections ?? {})) {\n  if (!Array.isArray(sec)) continue;\n  for (const item of sec) {\n    if (item.parkSlug && !VALID_PARKS.includes(item.parkSlug)) {\n      throw new Error(`Invalid parkSlug: ${item.parkSlug}`);\n    }\n  }\n}\nfor (const ride of (post.rightNow?.rides ?? [])) {\n  if (ride.parkSlug && !VALID_PARKS.includes(ride.parkSlug)) {\n    throw new Error(`Invalid rightNow parkSlug: ${ride.parkSlug}`);\n  }\n}\n\n// --- Videos: must be 0..10 items, each with required fields ---\nif (!Array.isArray(post.videos)) {\n  throw new Error('post.videos must be an array');\n}\nif (post.videos.length > 10) {\n  post.videos = post.videos.slice(0, 10);\n}\nfor (const v of post.videos) {\n  for (const k of ['title', 'channel', 'url', 'summary']) {\n    if (!v[k] || typeof v[k] !== 'string') {\n      throw new Error(`Video missing field: ${k}`);\n    }\n  }\n  if (typeof v.viewCount !== 'undefined' && typeof v.viewCount !== 'number') {\n    v.viewCount = parseInt(v.viewCount, 10) || 0;\n  }\n}\n\n// --- Auto-attach internal metadata so the website renders the AI badge ---\npost.updatedAt = new Date().toISOString();\npost.type = 'daily-briefing';\npost.meta = Object.assign(\n  {\n    aiGenerated: true,\n    sources: [\n      'Disney Parks Blog RSS',\n      'themeparks.wiki destinations',\n      'YouTube Data API v3 (top 10 last 48h)'\n    ],\n    generatedAt: new Date().toISOString()\n  },\n  post.meta || {}\n);\n\n// Detect \"no real news today\" fallback\nconst breaking = post.sections?.breaking ?? [];\nconst big = post.sections?.bignews ?? [];\nif (breaking.length === 0 && big.some(b => /no major updates/i.test(b.title))) {\n  post.meta.fallbackReason = 'no-news';\n}\n\nreturn [{\n  json: {\n    slug: post.slug,\n    post,\n    fileContent: JSON.stringify(post, null, 2)\n  }\n}];\n"
      },
      "id": "6fffffff-ffff-4fff-ffff-ffffffffffff",
      "name": "Validate + format JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ],
      "notes": "Parses the LLM output, validates the shape against lib/guideDaily.ts, attaches AI metadata, and produces the file payload for GitHub. Throws (stops the workflow) on any schema violation — skip a day rather than ship a broken post."
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "create",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "tsomers13-ops"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "Parkio-Website"
        },
        "filePath": "=content/guide/daily/{{ $json.slug }}.json",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "=Daily: {{ $json.post.date }} briefing",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "7ggggggg-gggg-4ggg-gggg-gggggggggggg",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2840,
        300
      ],
      "notes": "Commits the JSON to content/guide/daily/{slug}.json on main. Cloudflare Pages auto-rebuilds on push — post is live within ~60–90s."
    },
    {
      "parameters": {
        "amount": 90,
        "unit": "seconds"
      },
      "id": "8hhhhhhh-hhhh-4hhh-hhhh-hhhhhhhhhhhh",
      "name": "Wait 90s for Cloudflare deploy",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3060,
        300
      ],
      "notes": "Wait for Cloudflare Pages to rebuild. Beehiiv teaser must link to a live URL."
    },
    {
      "parameters": {
        "jsCode": "// Build the Beehiiv teaser-only email payload from the validated post.\n// HARD RULE (docs/AUTOMATION.md): the email contains ONLY teaser + 3 bullets + link.\n// No YouTube content. No section bodies. The full briefing lives on the website.\n\nconst wrap = $('Validate + format JSON').first().json;\nconst post = wrap.post;\nconst slug = wrap.slug;\n\nconst sec = post.sections || {};\n\n// Pick the strongest 3 bullets — prefer breaking → bignews → topstories.\nconst candidates = [];\nconst pushIf = (arr) => {\n  if (Array.isArray(arr)) {\n    for (const item of arr) {\n      if (item && item.title) candidates.push(item.title);\n    }\n  }\n};\npushIf(sec.breaking);\npushIf(sec.bignews);\npushIf(sec.topstories);\n\n// Dedupe + cap at 3\nconst seen = new Set();\nconst bullets = [];\nfor (const t of candidates) {\n  const key = t.trim().toLowerCase();\n  if (!seen.has(key)) {\n    seen.add(key);\n    bullets.push(t.trim());\n    if (bullets.length === 3) break;\n  }\n}\n\nconst url = `https://parkio.info/guide/${slug}`;\nconst bulletHtml = bullets.map(b =>\n  `<li style=\"margin:6px 0;\">${b}</li>`\n).join('');\n\nconst bodyHtml = `\n<div style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;font-size:16px;line-height:1.5;color:#111;\">\n  <p style=\"margin:0 0 16px 0;\">${post.teaser}</p>\n  <ul style=\"padding-left:20px;margin:0 0 20px 0;\">${bulletHtml}</ul>\n  <p style=\"margin:24px 0;\">\n    <a href=\"${url}\" style=\"display:inline-block;background:#0A84FF;color:#fff;text-decoration:none;padding:12px 20px;border-radius:14px;font-weight:600;\">Read the full briefing →</a>\n  </p>\n  <p style=\"margin:24px 0 8px 0;font-size:14px;color:#555;\">\n    Or jump straight in: <a href=\"https://parkio.info/parks\">Open Parkio</a> · <a href=\"https://parkio.info/parks\">Check live waits</a>\n  </p>\n  <p style=\"font-size:12px;color:#888;margin-top:32px;\">Parkio Daily — fresh every morning at 6 AM ET.</p>\n</div>\n`.trim();\n\nconst previewText = post.teaser.length > 100 ? post.teaser.slice(0, 97) + '...' : post.teaser;\n\nreturn [{\n  json: {\n    title: post.title,\n    subtitle: post.teaser,\n    preview_text: previewText,\n    body_content: bodyHtml,\n    slug,\n    canonical_url: url\n  }\n}];\n"
      },
      "id": "cmmmmmmm-mmmm-4mmm-mmmm-mmmmmmmmmmmm",
      "name": "Build email teaser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        300
      ],
      "notes": "Constructs the Beehiiv teaser-only payload: 1–2 sentence teaser + 3 bullets (breaking → bignews → topstories) + CTA link. NO YouTube content, NO section bodies. The website is the canonical copy."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.beehiiv.com/v2/publications/pub_b81f7b11-b6d7-4048-93ab-36828976f698/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"={{ $json.title }}\",\n  \"subtitle\": \"={{ $json.subtitle }}\",\n  \"preview_text\": \"={{ $json.preview_text }}\",\n  \"body_content\": \"={{ $json.body_content }}\",\n  \"platform\": \"email\",\n  \"audience\": \"free\",\n  \"status\": \"draft\"\n}"
      },
      "id": "dnnnnnnn-nnnn-4nnn-nnnn-nnnnnnnnnnnn",
      "name": "Beehiiv — Create Post (DRAFT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        300
      ],
      "disabled": true,
      "notes": "DISABLED until Beehiiv API key is created (requires Stripe ID verification). When ready: enable this node, add an HTTP Header Auth credential named 'Beehiiv API' with header name='X-API-Key' and value=<your Beehiiv API key>. Posts are created as DRAFT for manual review until the workflow is trusted; flip status to 'confirmed' inside 'Build email teaser' to auto-send."
    }
  ],
  "connections": {
    "Daily 6 AM ET": {
      "main": [
        [
          {
            "node": "Fetch Disney Parks Blog RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Disney Parks Blog RSS": {
      "main": [
        [
          {
            "node": "Fetch themeparks.wiki destinations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch themeparks.wiki destinations": {
      "main": [
        [
          {
            "node": "YouTube — Search broad (48h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Search broad (48h)": {
      "main": [
        [
          {
            "node": "YouTube — Featured: PagingMrMorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Featured: PagingMrMorrow": {
      "main": [
        [
          {
            "node": "YouTube — Featured: Wright Down Main Street",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Featured: Wright Down Main Street": {
      "main": [
        [
          {
            "node": "Merge YouTube IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge YouTube IDs": {
      "main": [
        [
          {
            "node": "YouTube — Get video stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube — Get video stats": {
      "main": [
        [
          {
            "node": "Rank Top 10 by views",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Top 10 by views": {
      "main": [
        [
          {
            "node": "Build research context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build research context": {
      "main": [
        [
          {
            "node": "Compose with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose with Claude": {
      "main": [
        [
          {
            "node": "Validate + format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + format JSON": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit to GitHub": {
      "main": [
        [
          {
            "node": "Wait 90s for Cloudflare deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 90s for Cloudflare deploy": {
      "main": [
        [
          {
            "node": "Build email teaser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build email teaser": {
      "main": [
        [
          {
            "node": "Beehiiv — Create Post (DRAFT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "active": false,
  "tags": []
}